In [1]:
import pandas as pd
import geopandas as gpd

In [23]:
county = 'Loudon_County'
county_st = county+'_VA'
file_name = 'tl_2020_51107_tabblock20.shp'
df_in = gpd.read_file(county_st+'/'+file_name)

In [24]:
df_in.head()

,STATEFP20,COUNTYFP20,TRACTCE20,BLOCKCE20,GEOID20,NAME20,MTFCC20,UR20,UACE20,UATYPE20,FUNCSTAT20,ALAND20,AWATER20,INTPTLAT20,INTPTLON20,geometry
0,51,107,610701,1019,511076107011019,Block 1019,G5040,None,None,None,S,0,12902,+39.1098176,-077.7376899,"POLYGON ((-77.74987 39.11659, -77.74984 39.116..."
1,51,107,610701,2030,511076107012030,Block 2030,G5040,None,None,None,S,22877,0,+39.1297691,-077.7151018,"POLYGON ((-77.71591 39.12956, -77.71589 39.129..."
2,51,107,610701,1041,511076107011041,Block 1041,G5040,None,None,None,S,59880,6926,+39.1169380,-077.7114599,"POLYGON ((-77.71322 39.11760, -77.71309 39.117..."
3,51,107,610702,3020,511076107023020,Block 3020,G5040,None,None,None,S,1610920,4018,+39.1180897,-077.7050371,"POLYGON ((-77.71184 39.12509, -77.71037 39.125..."
4,51,107,610701,2031,511076107012031,Block 2031,G5040,None,None,None,S,78519,0,+39.1276762,-077.7156149,"POLYGON ((-77.71713 39.12669, -77.71709 39.128..."

In [25]:
df = (
    df_in
    .rename(columns={'GEOID20':'id','INTPTLAT20':'lat','INTPTLON20':'lon'})
    [['id','lat','lon']]
)
df.head()

                id          lat           lon
0  511076107011019  +39.1098176  -077.7376899
1  511076107012030  +39.1297691  -077.7151018
2  511076107011041  +39.1169380  -077.7114599
3  511076107023020  +39.1180897  -077.7050371
4  511076107012031  +39.1276762  -077.7156149

In [26]:
voting_data_dir = '/Users/daphneskipper/Documents/git/voting_data/data/VA/'
df.to_csv(voting_data_dir+county+'/census_blocks.csv')